services:
  backend:
    build: ./backend
    env_file:
      - .env
    dns:
      - 8.8.8.8
    command: uvicorn app.main:app --host 0.0.0.0 --port 8000 --reload
    volumes:
      - ./backend:/code
    ports:
      - "8000:8000"
    environment:
      DATABASE_URL: ${DATABASE_URL}
      GMAPS_KEY: ${GMAPS_KEY}
      GEMINI_API_KEY: ${GEMINI_API_KEY}

  frontend:
    build: ./frontend
    ports:
      - "5173:5173"
    volumes:
      - ./frontend:/app
      # This trick prevents Docker from overwriting your local node_modules
      - /app/node_modules
    environment:
      # React needs to know the Backend URL
      VITE_API_URL: "http://localhost:8000"
      VITE_MAPBOX_TOKEN: ${MAPBOX_TOKEN}
      VITE_GMAPS_KEY: ${GMAPS_KEY}
